{% extends "base.html" %}
{% block title %}App Control Combustible{% endblock %}
{% block content %}

<!-- Creation card -->
{% include "fragments/title.html" with title="Home" %}
{% include "fragments/card_start.html" with header="Welcome to the App" %}
<h4 class="card-title">{% if user.is_authenticated %} Hello {{ user.username }} {% else %}
    <a href="{% url 'users:login' %}">Login</a> {% endif %}
</h4>
<p class="card-text">{% lorem 5 %}</p>
{% include "fragments/card_end.html" %}
<!-- End creation card -->

{% endblock %}