{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Creation card -->
{% include "fragments/title.html" with title="New User" %}
{% include "fragments/card_start.html" with header="Create a new account" %}
<form hx-post="{% url 'users:register' %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="#body">
    <!-- {% csrf_token %} -->
    {{ form|crispy }}
    <button type="submit" class="btn btn-warning">Register</button>
</form>
{% include "fragments/card_end.html" %}
<!-- End creation card -->

{% endblock %}